.bg-lightgray {
  background-color: lightgray;
}
.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.h-200 {
  height: 200px;
}
.h-20 {
  height: 20px;
}

.w-150 {
  width: 150px;
}
.w-120 {
  width: 120px;
}

.mx-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 2px;
}

.p-10 {
  padding: 10px;
}

.d-inline-block {
  display: inline-block;
}

.maplestory-button {
  background: linear-gradient(0deg, rgba(136,187,0,1) 0%, rgba(136,187,0,1) 25%, rgba(204,234,0,1) 55%, rgba(204,234,0,1) 100%);
  text-shadow: rgba(88,163,0,1) 1px 1px 1px,
               rgba(88,163,0,1) 1px 0px 1px,
               rgba(88,163,0,1) 1px -1px 1px,
               rgba(88,163,0,1) -1px 0px 1px,
               rgba(88,163,0,1) -1px 1px 1px,
               rgba(88,163,0,1) -1px -1px 1px,
               rgba(88,163,0,1) 0px 1px 1px,
               rgba(88,163,0,1) 0px 0px 1px,
               rgba(88,163,0,1) 0px -1px 1px;
  color: white;
  border-radius: 4px;
  border: 0px;
  padding-top: 2px;

}

.maplestory-button-boarder:has(> .maplestory-button:active:hover) {
  background: linear-gradient(180deg, rgba(136,201,0,1) 0%, rgba(136,201,0,1) 20%, #ffffff 100%);
}

.maplestory-button-boarder {
  background: linear-gradient(0deg, rgba(136,201,0,1) 0%, rgba(136,201,0,1) 20%, #ffffff 100%);
  padding: 2px;
  border-radius: 4px;
  border: 1px solid rgba(77,164,0,1);
}

/* light green: #ccea1e rgba(136,187,0,255) */
/* dark green: #88bb00*/